@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --tan: #f3eed9;
  --sienna: #824936;
  --charcoal: #222c2a;
}

.header__container {
  display: flex;
  max-width: 1128px;
  justify-content: center;
  align-items: center;
  background-color: var(--tan);
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  width: 60%;
}

header h2 {
  color: var(--charcoal);
  font-size: 1.25rem;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.6rem;
  padding-bottom: 5%;
}

header h1 {
  color: var(--sienna);
  font-size: 3.75rem;
  font-weight: 900;
  text-align: center;
}

.designs,
.custom,
.care {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 450px;
  max-width: 1128px;
  margin: 0 auto;
}

.designs__description {
  display: flex;
  justify-content: space-between;
  margin: 0 13%;
}

.designs__description--left,
.designs__description--right,
.custom__text,
.custom__img,
.care__text,
.care__img {
  width: 46%;
}

.designs h3,
.custom h4,
.care h4 {
  color: var(--sienna);
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2.25rem;
  margin-bottom: 3.5rem;
}

.designs--p,
p.care--p,
p.custom--p {
  color: var(--charcoal);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.75;
}

.custom,
.care {
  background-color: var(--charcoal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 6%;
}

.custom h4,
.care h4 {
  color: var(--tan);
}

.custom p,
.care p {
  color: white;
}

.care {
  background-color: var(--sienna);
}
